body{
    margin: 2%;
    text-align: center;
    /* background-image: url("https://1000logos.net/wp-content/uploads/2020/09/Java-Logo.png");
    background-size: 100% */
}

.three-col{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 2%; 
}

th {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }